.products-wrapper {
  display: flex;
  flex-direction: column;
}

.category-wrapper {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.products-category-heading {
  font-size: 2rem;
  font-weight: bold;
}
