.header-main-wrapper {
  width: 40%;
  background-color: #2b2a29;
  clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
  height: 3rem;
  padding: 1rem 5rem;
  position: absolute;
  top: 0;
  transform:translate(50%, 0);
  z-index: 1;
  display:flex;
  align-items: center;
  justify-content:center;
  align-self: center;
  flex-shrink: 1;
  -webkit-transform:translate(50%, 0);
  -moz-transform:translate(50%, 0);
  -ms-transform:translate(50%, 0);
  -o-transform:translate(50%, 0);
}

.header-links {
    display: flex;
    gap: 2rem;
    white-space: nowrap;
}

.header-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width:1070px){
  .header-main-wrapper {
    transform: translate(40%, 0);
    -webkit-transform: translate(40%, 0);
    -moz-transform: translate(40%, 0);
    -ms-transform: translate(40%, 0);
    -o-transform: translate(40%, 0);
}
  
}

@media screen and (max-width:1290px){
  .header-links {
    white-space:normal;
  }
  
}

@media screen and (max-width:950px){
  .header-main-wrapper {
    transform: translate(35%, 0);
    -webkit-transform: translate(35%, 0);
    -moz-transform: translate(35%, 0);
    -ms-transform: translate(35%, 0);
    -o-transform: translate(35%, 0);
}
  
}

@media screen and (max-width:650px){
  .header-main-wrapper {
    display: none;
}
  
}
